<div class="main-container">
    <a href="{{ path('event_show', {id:event.id}) }}">
  <span class="ti-back-left custom-button-2"></span>
</a>
    <div class="custom-flex-container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-errors">
            {{ form_errors(form) }}
        </div>
        
        {{ form_row(form.title) }}
        <hr class="hr" />
        {{ form_row(form.text) }}
        <hr class="hr" />
        {{ form_row(form.date) }}
        <hr class="hr" />
        {{ form_row(form.image) }}
        <hr class="hr" />
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
</div>