{% extends 'base.html.twig' %} {% block title %}Ajouter un lien{% endblock %} {% block
body %}

{% include 'admin/_nav.admin.html.twig' %}

<h1 class="big-title">Ajouter un lien réseau social</h1>

<div class="bio-container">
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  <div class="form-errors">
    {{ form_errors(form) }}
  </div>

  {{ form_row(form.title) }}
    <hr class="hr">
  {{ form_row(form.iconPath) }}
    <hr class="hr">
    <span class="button">
      {{ form_row(form.save) }}
    </span>
  {{ form_end(form) }}
</div>

{% endblock %}
