{% extends 'base.html.twig' %} {% block title %}Modifier un lien{% endblock %} {%
block body %} {% include 'admin/_nav.admin.html.twig' %}

<div class="main-container">
  <div class="container-flexboxxx">
    <div class="flexboxxx-delete">
      {% for socialLink in socialLinks %}
      <div class="social-img-show">
        {# UPDATE #}
        <div class="control-a">
          <a href="{{ path('social_update', { id: socialLink.id }) }}">
            <span class="ti-settings custom-button-2"></span>
          </a>

          {# DELETE #}

          <a
            href="{{ path('delete_social', { id: socialLink.id }) }}"
            class=""
            onclick=' return confirm("Supprimer ce lien ?")'
            data-id="{{ socialLink.id }}"
          >
            <span class="ti-close custom-button-2"></span>
          </a>
        </div>
        <img
          src="{{ asset(socialLink.iconPath) }}"
          alt="{{ socialLink.title }}"
          class="social-img"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
