{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

{% include 'nav/previous.nav.html.twig' %}

<h1>Modifier ma bio</h1>

<div class="bio-container">
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  <div class="form-errors">
    {{ form_errors(form) }}
  </div>
  <hr class="hr">
  {{ form_row(form.title) }}
    <hr class="hr">
  {{ form_row(form.text) }}
    <hr class="hr">
  {{ form_row(form.photoPath) }}
    <hr class="hr">
    <span class="button">
      {{ form_row(form.save) }}
    </span>
  {{ form_end(form) }}
</div>

{% endblock %}
