{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

{% include 'admin/_nav.admin.html.twig' %}

<h1 class="big-title">Modifier ma bio</h1>

<div class="main-container">

  <div class="bio-container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-errors">
      {{ form_errors(form) }}
    </div>
    
    {{ form_row(form.title) }}
    <hr class="hr">
    {{ form_row(form.text) }}
    <hr class="hr">
    {{ form_row(form.photoPath) }}
    <hr class="hr">
      {{ form_row(form.save) }}
    {{ form_end(form) }}
  </div>
</div>
  
  {% endblock %}
  