{% extends 'base.html.twig' %} {% block title %}Update Bio{% endblock %} {% block
body %}

{% include 'admin/_nav.admin.html.twig' %}

<a href="{{ path('bio') }}">
  <span class="ti-back-left custom-button-2"></span>
</a>

<h1 class="big-title">Modifier ma bio</h1>

<div class="main-container">

  <div class="custom-flex-container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-errors">
      {{ form_errors(form) }}
    </div>
    
    {{ form_row(form.title) }}
    <hr class="hr">
    {{ form_row(form.text) }}
    <hr class="hr">
    {{ form_row(form.photoPath) }}
    <hr class="hr">
      {{ form_row(form.save) }}
    {{ form_end(form) }}
  </div>
</div>
  
{% endblock %}
  