{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

    <div class="main-title-logo">
        <img src="{{ 'assets/images/foetus-logo.png' }}" alt="">
    </div>
    <div class="social">
      <a href="#"
        ><img src="{{ 'assets/images/instagram.png' }}" alt="Instagram"
      /></a>
      <a href="#"
        ><img src="{{ 'assets/images/facebook.png' }}" alt="Facebook"
      /></a>
    </div>
  </div>


    <section class="main-right">
      <div class="home-foetus-container">
        <a href="#" class="foetus-enter-link">
        <img
          src="{{ asset('assets/images/foetus-logo.png') }}"
          alt=""
          class="foetus-home-img"
        />
        </a>
        {# <div class="enter-foetus">
          <a href="#" class="foetus-enter-link">Visiter</a>
        </div> #}
      </div>

      <div class="menu">
        <a href="{{ path('foetus_bio') }}">Bio</a>
        <a href="#">Flashs</a>
        <a href="{{ path('foetus_galerie') }}">Galerie</a>
        <a href="#">Tarifs</a>
        <a href="#">Actu</a>
        <a href="#">Contact</a>
        <a href="{{ path('login') }}">Se connecter</a>
      </div>
    </section>

{% endblock %}
